ul{
    display: flex;
    list-style: none;
}

li{
    padding: 7px 12px;
    text-transform: capitalize;
    background-color: #ccc;
}

li:hover{
    background-color: black;
    color: white;
}

li:first-of-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

li:last-of-type{
    border-bottom-right-radius:5px ;
    border-top-right-radius: 5px;
}