p{
    background-color: red;
    color: white;
    /* border: 1px inset red; */
    padding: 10px; /*unidad predeterminada */
    /* padding: 20em; unidad multiplicada por el tamaño por defecto de la fuente  */
    /* padding: 20rem; tamaño igual al que tiene por defecto de la fuente  */
    /* padding: 20vh; tamaño de la pantalla del navegador  */
    /* padding: 20vw; tamaño de la pantalla del navegador  */
    font-size: 17px;
    width: 560px;
    position: relative;
    font-family: serif;
    /* text-align: center; */
    text-align: justify;
    text-indent: 60px;
}

p::first-letter{
    line-height: 100px;
    top: 20px;
}

p::before{
    content: "L";
    font-size: 100px;
    left: -26px;
    top: 15px;
    display: block;
    position: absolute;
}


